.row-fluid {
    text-align: center;
    padding-bottom: 40px;
}

.top-row {
    padding: 40px 0 100px 0;
}

.btn {
    width: 100px;
    height: 90px;
    -webkit-border-radius: 45px;
    border-radius: 45px
}